<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="js/app.js"></script>

<script src="js/filters/allFilters.js"></script>

<script src="js/dirictives/skillsModal.js"></script>

<script src="js/datasource/elasticsearch.js"></script>

<script src="js/controller/employeesController.js"></script>
<link rel="stylesheet" href="css/dashboard.css">

</head>

<body ng-app="ups" ng-controller="employeesController">


	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">User Profile System</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Settings</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Help</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="index.html">System overview</a></li>
					<li class="active"><a href="employee.html">Manage
							Employees</a></li>
					<li><a href="searchSkilledEmployee.html">Search Skilled
							Employee</a></li>
					<li><a href="allSkills.html">All Skills</a></li>		
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<modal title="Skills list" visible="showModal">
				<div role="form" ng-bind-html="skillsList | sanitize"></div>
				</modal>


				<div class="container">

					<div ng-include src="'parts/employeeTable.html'"></div>

					<hr>
					<button class="btn btn-success" ng-click="reset()">
						<span class="glyphicon glyphicon-user"></span> Create New User
					</button>
					<hr>

					<h3 ng-hide="edit">Create New User:</h3>
					<h3 ng-show="edit">Edit User:</h3>

					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">First Name:</label>
							<div class="col-sm-10">
								<input type="text" ng-model="firstName" placeholder="First Name">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Last Name:</label>
							<div class="col-sm-10">
								<input type="text" ng-model="lastName" placeholder="Last Name">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Email:</label>
							<div class="col-sm-10">
								<input type="text" ng-model="email" placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Phone:</label>
							<div class="col-sm-10">
								<input type="text" ng-model="phone" placeholder="Phone">
							</div>
						</div>
						<hr>
						<h3>Skills list:</h3>

						<form class="navbar-form navbar-left" role="search">

							<div ng-repeat="skill in skills" class="form-group">
								<div class="col-sm-10">{{skill}}</div>
								<button class="btn btn-default" ng-click="removeSkill(skill)">
									<span class="glyphicon glyphicon-minus-sign"></span> Remove
									skill
								</button>
							</div>

							<div class="col-sm-10">
								<input type="text" ng-model="newSkill" placeholder="skill">
							</div>
							<button class="btn btn-default" ng-click="addSkill()">
								<span class="glyphicon glyphicon-plus-sign"></span> Add skill
							</button>
						</form>

					</form>

					<hr>
					<button class="btn btn-success" ng-click="saveEmployee()">
						<span class="glyphicon glyphicon-save"></span> Save Changes
					</button>

				</div>
			</div>
		</div>
	</div>










</body>
</html>
