<!DOCTYPE html>

<html>

<head>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="js/app.js"></script>

<script src="js/filters/allFilters.js"></script>

<script src="js/dirictives/skillsModal.js"></script>

<script src="js/datasource/elasticsearch.js"></script>

<script src="js/controller/searchBySkillController.js"></script>

<link rel="stylesheet" href="css/dashboard.css">

</head>

<body ng-app="ups" ng-controller="searchBySkillController">


	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">User Profile System</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Settings</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Help</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="index.html">System overview</a></li>
					<li><a href="employee.html">Manage Employees</a></li>
					<li class="active"><a href="searchSkilledEmployee.html">Search
							Skilled Employee</a></li>
					<li><a href="allSkills.html">All Skills</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

				<form class="form-horizontal" role="search">
					<div class="form-group col-sm-10">
						<input type="text" class="form-control col-sm-10"
							ng-model="requiredSkill" placeholder="Search">
					</div>
					<button class="btn btn-success" ng-click="searchEmployeeBySkill()">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>
				</form>

				<div ng-include src="'parts/employeeTable.html'"></div>

			</div>
		</div>
	</div>

</body>
</html>

